:root { 
  --bgcolor: rgb(114, 181, 121);
  --bttncolor: rgb(181, 114, 174);
}

h1 {
  margin-left: 0px;
	font-size: 50px;
	color: var(--bttncolor);
	text-align: center;
	
}


h2 {
  margin-left: 35px;
}


button {
  position: absolute;
  left: 90%;
	top: 10%;
  background-color: var(--bttncolor);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: Parkinsans;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--bgcolor);
}
.heading {
	background-color: var(--bttncolor);
	border-radius: 25px;
	width: 231px;
	margin-left: 15px;
	padding-top: ;
	margin-top: 20px;
	

}

body {
	background-color: var(--bgcolor);
}
p {
	padding: 0px 280px;
	font-size: 24px;
}
.bottom {
	padding-bottom: 250px
}
