/* For Mobile (max-width: 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px; /* Adds margin on both sides of the title */
  }

  p {
    font-size: 14px;
    padding: 20px;
    margin: 0 20px;
  }

  img {
    width: 150px;
    margin-top: 20px;
  }

  .bigspace {
    padding: 20px;
  }

  .space {
    padding: 10px;
  }

  button {
    font-size: 18px;
    padding: 10px 20px;
    top: 10%;
    left: 80%;
    margin: 0 20px; /* Adds margin to the left and right of the button */
  }

  .intextlink {
    font-size: 14px;
  }
}

/* For Tablet (min-width: 769px and max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    margin-left: 30px; /* Adds space to the left side */
    margin-right: 30px; /* Adds space to the right side */
  }

  p {
    font-size: 16px;
    padding: 30px;
  }

  img {
    width: 300px;
  }

  button {
    font-size: 20px;
    padding: 12px 25px;
    top: 8%;
    left: 85%;
    margin: 0 30px; /* Adds margin to the left and right of the button */
  }

  .bigspace {
    padding: 60px;
  }

  .space {
    padding: 15px;
  }

  .intextlink {
    font-size: 16px;
  }
}

/* For Desktop (min-width: 1025px) */
@media (min-width: 1025px) {
  h1 {
    font-size: 70px;
    margin-left: 50px; /* Adds space to the left side */
    margin-right: 50px; /* Adds space to the right side */
  }

  p {
    font-size: 18px;
    padding: 50px;
  }

  img {
    width: 500px;
  }

  button {
    font-size: 24px;
    padding: 15px 32px;
    top: 5%;
    left: 90%;
    margin: 0 50px; /* Adds margin to the left and right of the button */
  }

  .bigspace {
    padding: 100px;
  }

  .space {
    padding: 20px;
  }

  .intextlink {
    font-size: 18px;
  }
}
