:root { 
	--bgcolor: #EFC7C2;
	--bttncolor: #694F5D;
}

body {height: 100%; /* Ensure the body and html elements take up full height */
      margin: 0;
      display: flex;
      justify-content: center; /* Horizontally center */
      align-items: center; /* Vertically center */
    }


h1 {
  margin-left: 20px;
  font-size: 70px;
  color: var(--bttncolor);
  font-family: Fascinate;
  text-align: center;
}

h2 {
  margin-left: 35px;
  font-family: Fascinate;
  font-size: 40px;
}

button {
  position: absolute;
  left: 90%;
  top: 5%;
  background-color: var(--bttncolor);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: Fascinate;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--bgcolor);
}

.heading {
	background-color: var(--bttncolor);
	border-radius: 25px;
	width: 231px;
	margin-left: 15px;
	padding-top: ;
	margin-top: 20px;
}

body {
	background-color: var(--bgcolor);
}

p {
	padding: 0px 300px;
	font-size: 24px;
	font-family: Parkinsans;
  color: var(--bttncolor);
}

.bottom {
	padding-bottom: 250px;
}

.firstpar {
	padding-top: 50px;
}

.topcushion {
	padding-bottom: 50px;
}

.back-button {
  position: absolute;
  left: 1%;
  top: 5%; 
  background-color: var(--bttncolor);
  border: none;
  color: var(--bgcolor);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: Fascinate;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.back-button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Hover effect for .back-button and .back-button1 */
.back-button:hover, .back-button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
