:root { 
  	--bgcolor: #EFC7C2;
	--bttncolor: #694F5D;
}

h1 {
  margin-left: 20px;
  font-size: 70px;
  color: var(--bttncolor);
  font-family: Fascinate;
}

h2 {
  margin-left: 35px;
  font-family: Fascinate;
  font-size: 40px;
}

ul {
  list-style: none;
  padding-left: 35px; /* To maintain the left margin */
}

li {
  color: var(--bttncolor);
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, border-radius 0.3s;
}

/* Ensure li elements have appropriate behavior */
ul li {
  position: relative;
  display: block; /* Make sure list items are block-level to prevent any odd behavior */
}

ul li:hover {
  background-color: var(--bttncolor);
  color: var(--bgcolor);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--bttncolor); /* Default text color */
}

a:hover {
  color: var(--bgcolor); /* Change text color to white on hover */
}

/* Ensure that anchor tags are not overly stretched */
ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: inherit;
  position: relative;
  z-index: 1; /* Make sure anchor is always clickable */
}

/* Button styling */
button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--bttncolor);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Fascinate;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
