:root {
  --bgcolor: #EFC7C2;
  --bttncolor: #694F5D;
}

body {
  margin: 0;
  padding: 0;
  font-family: Parkinsans, sans-serif;
  background-color: var(--bgcolor);
  color: var(--bttncolor);
}

h1 {
  font-size: 70px;
  text-align: center;
  color: var(--bttncolor);
  font-family: 'Fascinate', sans-serif;
}

h2 {
  font-size: 40px;
  margin-left: 35px;
  font-family: 'Fascinate', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 35px;
}

li {
  margin: 10px 0;
}

.writlink {
  text-decoration: none;
  color: var(--bttncolor);
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.writlink:hover {
  background-color: var(--bttncolor);
  color: var(--bgcolor);
}

button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--bttncolor);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px rgba(0, 0, 0, 0.19);
}
