:root {
  font-size: 15px;
  --bgcolor: #EFC7C2;
  --bttncolor: #694F5D;
  --linkcolor: #68A691;
}

body {
  background-color: var(--bgcolor);
}

h1 {
  margin-left: calc(20px + 2vw);
  font-size: clamp(40px, 5vw, 70px);
  -webkit-text-stroke: 1.5px #000;
  text-stroke: 1.5px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
  font-family: 'Fascinate', cursive;
  padding: 20px;
  position: relative;
}

.title1 {
  font-family: 'Fascinate', cursive;
  color: var(--bttncolor);
  margin-left: calc(20px + 2vw);
  font-size: 3.5rem;
}
.title2 {
  font-family: 'Fascinate', cursive;
  color: var(--bttncolor);
  margin-right: calc(20px + 2vw);
  font-size: 3.5rem;
  
}

.title3 {
   font-family: 'Fascinate', cursive;
  color: var(--bttncolor);
  font-size: 3.5rem;
}

p {
  font-family: 'Parkinsans', sans-serif;
  color: var(--bttncolor);
  margin-left: calc(20px + 2vw);
  
}

a {
  font-family: 'Parkinsans', sans-serif;
  color: var(--linkcolor);
  margin-left: calc(20px + 2vw);
}

.text {
  background-color: var(--bttncolor);
  color: var(--bgcolor);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.gallery img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20vh;
}

.thumbnails a {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  line-height: 0; /* Removes extra space below image */
}


.thumb {
  width: 80px;
  height: auto;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  border: 2px solid transparent;
}

.thumb:hover,
.thumb.active {
  opacity: 1;
  border-color: #333;
}

/* Layout */
.top-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.text-block {
  max-width: 600px;
  margin-right: 20vw;
  margin-bottom:20vh;
}

.gallery-wrapper {
  max-width: 600px;
}

/* Optional Responsive */
@media (max-width: 768px) {
  .top-row {
    flex-direction: column;
    align-items: center;
  }

  h2, p, a {
    margin-left: 20px;
    margin-right: 20px;
  }
}
