:root {
	--bgcolor: rgb(114, 181, 121);
	--bttncolor: rgb(181, 114, 174);
}

body {
	background-color: var(--bgcolor);
	font-family: courier;
}
h1 {
	color: black;
	font-size: 60px;
	margin-left: 20px;

}

p {color: black;
font-size: 20px;
float: left;
width: 700px;
margin-top: 100px;
  font-weight: bold;}

.container {
    width: 300px;
    height: 300px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

img {
	margin-left: 175px;
	border-radius: 60%;
}
.listview
{
display:flex;
align-items:center;
}
.listview p
{
padding:10px;
}
button {
	position: absolute;
	left: 1400px;
background-color: var(--bttncolor);
  border: none;
  color: var(--bgcolor);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
	font-weight: bold;
	font-family: courier;
  margin: 4px 2px;
  cursor: pointer;
	border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;}
	
	.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a {
	text-decoration: none;
	 color: var(--bgcolor)
}

