:root {
    --bgcolor: #EFC7C2;
    --bttncolor: #694F5D;
}

* {
    margin: 0;
    padding: 0;
    font-family: Fascinate;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--bgcolor);
    color: var(--bttncolor);
    font-family: Fascinate;
    font-size: 1rem; /* Use rem for scaling */
    line-height: 1.5;
}

ul {
    list-style: none;
}

h1 {
    font-size: 4vw; /* Fluid font size based on viewport width */
    position: relative;
    text-transform: uppercase;
    transition: all 300ms ease;
    width: fit-content;
    cursor: pointer;
    color: var(--bttncolor);
}

h1:hover {
    transform: skew(10deg);
}

h1::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: -20px;
    background: var(--bgcolor);
    height: 5rem;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
    color: var(--bttncolor);
}

h1:hover::before {
    top: 3px;
    left: 0px;
    color: var(--bttncolor);
}

h1::after {
    content: "";
    height: 5px;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bgcolor);
    transition: all 300ms ease;
    color: var(--bttncolor);
}

h1:hover::after {
    width: 120%;
    outline: 8px solid var(--bttncolor);
    color: var(--bttncolor);
}

/* //////////////////////////// */

/* Links sidebar CSS - Removed */

/* //////////////////////////// */

/* Media queries */
a {
    text-decoration: none !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 10vw; /* Adjust title based on viewport width */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 12vw; /* Adjust title based on viewport width */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 15vw; /* Adjust title for very small screens */
    }
}
